-- HOWTOM ?좊땲踰꾩뒪 ??硫?고뀒?뚰듃 SaaS ?ㅽ궎留?-- ???뚯씪? 紐?踰덉쓣 ?ㅽ뻾?대룄 ?덉쟾?섎룄濡?IF NOT EXISTS) ?묒꽦?섏뼱 ?덉뒿?덈떎.

CREATE EXTENSION IF NOT EXISTS "pgcrypto"; -- gen_random_uuid() ?ъ슜???꾪빐 ?꾩슂?⑸땲??

-- ????????????????????????????????????????????????????????????
-- 怨좉컼??Tenant) ??HOWTOM??援щℓ/?ъ슜?섎뒗 ?뚯궗 ?⑥쐞?낅땲??
-- 紐⑤뱺 ?낅Т ?뚯씠釉붿? 諛섎뱶??tenant_id瑜?媛吏怨? 議고쉶??????긽 ??媛믪쑝濡?嫄몃윭???⑸땲??
-- ????????????????????????????????????????????????????????????
CREATE TABLE IF NOT EXISTS tenants (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  name TEXT NOT NULL,
  slug TEXT UNIQUE NOT NULL,
  plan TEXT NOT NULL DEFAULT 'basic', -- basic | pro | agency
  status TEXT NOT NULL DEFAULT 'active', -- active | suspended | canceled
  -- Entitlement(?붽툑?쒕퀎 沅뚰븳)??"if plan==='pro'"泥섎읆 肄붾뱶??諛뺤? ?딄퀬, ??而щ읆?ㅻ줈 ?쒖뼱?⑸땲??
  max_advertisers INTEGER NOT NULL DEFAULT 1,
  max_members INTEGER NOT NULL DEFAULT 1,
  max_media_accounts INTEGER NOT NULL DEFAULT 2,
  monthly_ai_limit INTEGER NOT NULL DEFAULT 30,
  can_use_automation BOOLEAN NOT NULL DEFAULT false,
  can_use_client_portal BOOLEAN NOT NULL DEFAULT false,
  -- ??媛믪씠 梨꾩썙吏硫?'留덉씠洹몃젅?댁뀡 ?ㅽ뻾'??愿묎퀬二?紐⑸줉???ㅼ떆 留뚮뱾吏 ?딆뒿?덈떎(愿묎퀬二쇰뒗 Postgres媛
  -- 吏꾩쭨 ?곗씠?곗씠怨? ?먮낯 JSON ?뚯씪? 洹몃?濡??⑥븘?덉뼱????젣??愿묎퀬二쇨? ?섏궡?꾨굹??嫄?留됯린 ?꾪븿).
  advertisers_migrated_at TIMESTAMPTZ,
  -- ?먮룞 ?숆린???ㅽ뻾 ?대젰. ?쒕쾭 硫붾え由ъ뿉留??먮㈃ 諛고룷(?ъ떆?????뚮쭏??珥덇린?붾릺??  -- "?대젰 ?놁쓬"?쇰줈 ?섎せ ?쒖떆?섎뒗 臾몄젣媛 ?덉뼱, ?ш린 DB???곴뎄 ??ν빀?덈떎.
  auto_sync_last_run_at TIMESTAMPTZ,
  auto_sync_last_result JSONB,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_at TIMESTAMPTZ NOT NULL DEFAULT now()
);

-- ?ъ슜??濡쒓렇??怨꾩젙). ???щ엺???щ윭 ?뚮꼳?몄뿉 ?랁븷 ???덉뼱(?? ?꾨━?쒖꽌), tenant_members濡??뚯냽???곕줈 愿由ы빀?덈떎.
CREATE TABLE IF NOT EXISTS users (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  email TEXT UNIQUE NOT NULL,
  password_hash TEXT NOT NULL,
  name TEXT,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now()
);

-- ?ъ슜?????뚮꼳???뚯냽 + ??븷(RBAC)
CREATE TABLE IF NOT EXISTS tenant_members (
  tenant_id UUID NOT NULL REFERENCES tenants(id) ON DELETE CASCADE,
  user_id UUID NOT NULL REFERENCES users(id) ON DELETE CASCADE,
  role TEXT NOT NULL DEFAULT 'admin', -- owner | admin | marketer | viewer
  created_at TIMESTAMPTZ NOT NULL DEFAULT now(),
  PRIMARY KEY (tenant_id, user_id)
);

-- ????????????????????????????????????????????????????????????
-- 愿묎퀬二?Advertiser) ??洹??뚮꼳?멸? "愿由ы븯????? ?낆껜?낅땲?? (?뚮꼳???먯떊怨쇰뒗 ?ㅻⅨ 媛쒕뀗)
-- ????????????????????????????????????????????????????????????
CREATE TABLE IF NOT EXISTS advertisers (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  tenant_id UUID NOT NULL REFERENCES tenants(id) ON DELETE CASCADE,
  name TEXT NOT NULL,
  monthly_budget NUMERIC NOT NULL DEFAULT 0,
  brand_color TEXT,
  industry TEXT,
  website TEXT,
  phone TEXT,
  address TEXT,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_at TIMESTAMPTZ NOT NULL DEFAULT now()
);
CREATE INDEX IF NOT EXISTS idx_advertisers_tenant ON advertisers(tenant_id);

-- 留ㅼ껜 怨꾩젙 ?곕룞 ?뺣낫. api_key/secret_key???됰Ц???꾨땲???뷀샇?붾맂 媛?*_encrypted)?쇰줈留???ν빀?덈떎.
CREATE TABLE IF NOT EXISTS media_accounts (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  tenant_id UUID NOT NULL REFERENCES tenants(id) ON DELETE CASCADE,
  advertiser_id UUID NOT NULL REFERENCES advertisers(id) ON DELETE CASCADE,
  channel TEXT NOT NULL, -- meta | naver | google | daangn | tiktok | kakao
  status TEXT NOT NULL DEFAULT 'connected',
  account_id TEXT,
  api_key_encrypted TEXT,
  secret_key_encrypted TEXT,
  last_synced_at TIMESTAMPTZ,
  last_row_count INTEGER,
  last_sync_error TEXT,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now(),
  UNIQUE(advertiser_id, channel)
);
CREATE INDEX IF NOT EXISTS idx_media_accounts_tenant ON media_accounts(tenant_id);

-- ????????????????????????????????????????????????????????????
-- ?깃낵 ?곗씠??(?쇰퀎 / ?뚯옱蹂?/ ?ㅼ썙?쒕퀎)
-- ????????????????????????????????????????????????????????????
CREATE TABLE IF NOT EXISTS daily_metrics (
  id BIGSERIAL PRIMARY KEY,
  tenant_id UUID NOT NULL REFERENCES tenants(id) ON DELETE CASCADE,
  advertiser_id UUID NOT NULL REFERENCES advertisers(id) ON DELETE CASCADE,
  channel TEXT NOT NULL,
  date DATE NOT NULL,
  impressions BIGINT NOT NULL DEFAULT 0,
  clicks BIGINT NOT NULL DEFAULT 0,
  spend NUMERIC NOT NULL DEFAULT 0,
  db_count BIGINT NOT NULL DEFAULT 0,
  purchases BIGINT NOT NULL DEFAULT 0,
  revenue NUMERIC NOT NULL DEFAULT 0,
  add_to_cart BIGINT NOT NULL DEFAULT 0,
  complete_registration BIGINT NOT NULL DEFAULT 0,
  initiate_checkout BIGINT NOT NULL DEFAULT 0,
  updated_at TIMESTAMPTZ NOT NULL DEFAULT now(),
  UNIQUE(advertiser_id, channel, date)
);
CREATE INDEX IF NOT EXISTS idx_daily_metrics_tenant ON daily_metrics(tenant_id);
CREATE INDEX IF NOT EXISTS idx_daily_metrics_adv_date ON daily_metrics(advertiser_id, date);
CREATE INDEX IF NOT EXISTS idx_daily_metrics_tenant_date ON daily_metrics(tenant_id, date);


CREATE TABLE IF NOT EXISTS campaign_daily_metrics (
  id BIGSERIAL PRIMARY KEY,
  tenant_id UUID NOT NULL REFERENCES tenants(id) ON DELETE CASCADE,
  advertiser_id UUID NOT NULL REFERENCES advertisers(id) ON DELETE CASCADE,
  channel TEXT NOT NULL,
  campaign_id TEXT NOT NULL,
  campaign_name TEXT,
  campaign_type TEXT,
  date DATE NOT NULL,
  impressions BIGINT NOT NULL DEFAULT 0,
  clicks BIGINT NOT NULL DEFAULT 0,
  spend NUMERIC NOT NULL DEFAULT 0,
  db_count BIGINT NOT NULL DEFAULT 0,
  purchases BIGINT NOT NULL DEFAULT 0,
  revenue NUMERIC NOT NULL DEFAULT 0,
  updated_at TIMESTAMPTZ NOT NULL DEFAULT now(),
  UNIQUE(advertiser_id, channel, campaign_id, date)
);
CREATE INDEX IF NOT EXISTS idx_campaign_daily_tenant ON campaign_daily_metrics(tenant_id);
CREATE INDEX IF NOT EXISTS idx_campaign_daily_adv_date ON campaign_daily_metrics(advertiser_id, date);
CREATE INDEX IF NOT EXISTS idx_campaign_daily_tenant_date ON campaign_daily_metrics(tenant_id, date);
ALTER TABLE tenants ADD COLUMN IF NOT EXISTS advertisers_migrated_at TIMESTAMPTZ;
ALTER TABLE tenants ADD COLUMN IF NOT EXISTS auto_sync_last_run_at TIMESTAMPTZ;
ALTER TABLE tenants ADD COLUMN IF NOT EXISTS auto_sync_last_result JSONB;
ALTER TABLE campaign_daily_metrics ADD COLUMN IF NOT EXISTS campaign_type TEXT;
ALTER TABLE campaign_daily_metrics ADD COLUMN IF NOT EXISTS add_to_cart BIGINT NOT NULL DEFAULT 0;
ALTER TABLE campaign_daily_metrics ADD COLUMN IF NOT EXISTS complete_registration BIGINT NOT NULL DEFAULT 0;
ALTER TABLE campaign_daily_metrics ADD COLUMN IF NOT EXISTS initiate_checkout BIGINT NOT NULL DEFAULT 0;
-- '援щℓ ???섎㉧吏'瑜??뺤떎移??딆? 梨꾨줈 DB(由щ뱶)???⑥젙?댁꽌 ?욎뼱 ?ｋ뜕 臾몄젣 ?섏젙: ?ㅼ떆媛??몃?
-- ?꾪솚 ?꾨뱶(?λ컮援щ땲 ??瑜???怨꾩젙/???쒖젏???뺤씤?????놁뼱 遺꾨쪟媛 遺덊솗?ㅽ븳 紐レ쓣 DB?
-- 援щ텇?섎뒗 '誘명솗?? ?꾪솚?쇰줈 蹂꾨룄 吏묎퀎?⑸땲??二쇰줈 ?뱀씪 ?곗씠?? ?곸꽭 由ы룷?멸? ?꾩쭅 ?녿뒗 寃쎌슦).
ALTER TABLE campaign_daily_metrics ADD COLUMN IF NOT EXISTS unconfirmed_count BIGINT NOT NULL DEFAULT 0;
ALTER TABLE daily_metrics ADD COLUMN IF NOT EXISTS add_to_cart BIGINT NOT NULL DEFAULT 0;
ALTER TABLE daily_metrics ADD COLUMN IF NOT EXISTS complete_registration BIGINT NOT NULL DEFAULT 0;
ALTER TABLE daily_metrics ADD COLUMN IF NOT EXISTS initiate_checkout BIGINT NOT NULL DEFAULT 0;
ALTER TABLE daily_metrics ADD COLUMN IF NOT EXISTS unconfirmed_count BIGINT NOT NULL DEFAULT 0;

CREATE TABLE IF NOT EXISTS creative_daily_metrics (
  id BIGSERIAL PRIMARY KEY,
  tenant_id UUID NOT NULL REFERENCES tenants(id) ON DELETE CASCADE,
  advertiser_id UUID NOT NULL REFERENCES advertisers(id) ON DELETE CASCADE,
  channel TEXT NOT NULL,
  campaign_id TEXT,
  campaign_name TEXT,
  campaign_type TEXT,
  adgroup_id TEXT,
  adgroup_name TEXT,
  ad_id TEXT NOT NULL,
  ad_name TEXT,
  date DATE NOT NULL,
  impressions BIGINT NOT NULL DEFAULT 0,
  clicks BIGINT NOT NULL DEFAULT 0,
  spend NUMERIC NOT NULL DEFAULT 0,
  db_count BIGINT NOT NULL DEFAULT 0,
  purchases BIGINT NOT NULL DEFAULT 0,
  revenue NUMERIC NOT NULL DEFAULT 0,
  thumbnail_url TEXT,
  media_type TEXT,
  video_url TEXT,
  title TEXT,
  body TEXT,
  description TEXT,
  cta TEXT,
  updated_at TIMESTAMPTZ NOT NULL DEFAULT now(),
  UNIQUE(advertiser_id, channel, ad_id, date)
);
-- ?대? 留뚮뱾?댁쭊 ?뚯씠釉붿뿉???덉쟾?섍쾶 而щ읆??異붽??⑸땲??(?곸긽 ?ㅼ젣 ?ъ깮 URL, 愿묎퀬洹몃９紐? 罹먮윭? 移대뱶 ?대?吏 紐⑸줉).
ALTER TABLE creative_daily_metrics ADD COLUMN IF NOT EXISTS video_url TEXT;
ALTER TABLE creative_daily_metrics ADD COLUMN IF NOT EXISTS adgroup_name TEXT;
ALTER TABLE creative_daily_metrics ADD COLUMN IF NOT EXISTS carousel_images JSONB;
ALTER TABLE creative_daily_metrics ADD COLUMN IF NOT EXISTS campaign_type TEXT;
ALTER TABLE creative_daily_metrics ADD COLUMN IF NOT EXISTS add_to_cart BIGINT NOT NULL DEFAULT 0;
ALTER TABLE creative_daily_metrics ADD COLUMN IF NOT EXISTS complete_registration BIGINT NOT NULL DEFAULT 0;
ALTER TABLE creative_daily_metrics ADD COLUMN IF NOT EXISTS initiate_checkout BIGINT NOT NULL DEFAULT 0;
ALTER TABLE creative_daily_metrics ADD COLUMN IF NOT EXISTS unconfirmed_count BIGINT NOT NULL DEFAULT 0;
CREATE INDEX IF NOT EXISTS idx_creative_daily_tenant ON creative_daily_metrics(tenant_id);
CREATE INDEX IF NOT EXISTS idx_creative_daily_adv_date ON creative_daily_metrics(advertiser_id, date);
CREATE INDEX IF NOT EXISTS idx_creative_daily_tenant_date ON creative_daily_metrics(tenant_id, date);

CREATE TABLE IF NOT EXISTS keyword_daily_metrics (
  id BIGSERIAL PRIMARY KEY,
  tenant_id UUID NOT NULL REFERENCES tenants(id) ON DELETE CASCADE,
  advertiser_id UUID NOT NULL REFERENCES advertisers(id) ON DELETE CASCADE,
  channel TEXT NOT NULL,
  campaign_id TEXT,
  campaign_name TEXT,
  campaign_type TEXT,
  adgroup_id TEXT,
  adgroup_name TEXT,
  keyword_id TEXT NOT NULL DEFAULT '',
  keyword TEXT NOT NULL,
  date DATE NOT NULL,
  impressions BIGINT NOT NULL DEFAULT 0,
  clicks BIGINT NOT NULL DEFAULT 0,
  spend NUMERIC NOT NULL DEFAULT 0,
  db_count BIGINT NOT NULL DEFAULT 0,
  purchases BIGINT NOT NULL DEFAULT 0,
  revenue NUMERIC NOT NULL DEFAULT 0,
  updated_at TIMESTAMPTZ NOT NULL DEFAULT now(),
  UNIQUE(advertiser_id, channel, keyword_id, keyword, date)
);
ALTER TABLE keyword_daily_metrics ADD COLUMN IF NOT EXISTS adgroup_name TEXT;
ALTER TABLE keyword_daily_metrics ADD COLUMN IF NOT EXISTS campaign_type TEXT;
ALTER TABLE keyword_daily_metrics ADD COLUMN IF NOT EXISTS add_to_cart BIGINT NOT NULL DEFAULT 0;
ALTER TABLE keyword_daily_metrics ADD COLUMN IF NOT EXISTS complete_registration BIGINT NOT NULL DEFAULT 0;
ALTER TABLE keyword_daily_metrics ADD COLUMN IF NOT EXISTS initiate_checkout BIGINT NOT NULL DEFAULT 0;
ALTER TABLE keyword_daily_metrics ADD COLUMN IF NOT EXISTS unconfirmed_count BIGINT NOT NULL DEFAULT 0;
CREATE INDEX IF NOT EXISTS idx_keyword_daily_tenant ON keyword_daily_metrics(tenant_id);
CREATE INDEX IF NOT EXISTS idx_keyword_daily_adv_date ON keyword_daily_metrics(advertiser_id, date);
CREATE INDEX IF NOT EXISTS idx_keyword_daily_tenant_date ON keyword_daily_metrics(tenant_id, date);

CREATE TABLE IF NOT EXISTS sync_validation_logs (
  id BIGSERIAL PRIMARY KEY,
  tenant_id UUID REFERENCES tenants(id) ON DELETE CASCADE,
  advertiser_id UUID REFERENCES advertisers(id) ON DELETE CASCADE,
  channel TEXT NOT NULL,
  date_from DATE,
  date_to DATE,
  source_label TEXT,
  source_totals JSONB NOT NULL DEFAULT '{}'::jsonb,
  stored_totals JSONB NOT NULL DEFAULT '{}'::jsonb,
  delta JSONB NOT NULL DEFAULT '{}'::jsonb,
  ok BOOLEAN NOT NULL DEFAULT false,
  account_id TEXT,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now()
);
CREATE INDEX IF NOT EXISTS idx_sync_validation_tenant ON sync_validation_logs(tenant_id, created_at DESC);
ALTER TABLE sync_validation_logs ADD COLUMN IF NOT EXISTS account_id TEXT;

CREATE TABLE IF NOT EXISTS creative_metrics (
  id BIGSERIAL PRIMARY KEY,
  tenant_id UUID NOT NULL REFERENCES tenants(id) ON DELETE CASCADE,
  advertiser_id UUID NOT NULL REFERENCES advertisers(id) ON DELETE CASCADE,
  channel TEXT NOT NULL,
  ad_id TEXT NOT NULL,
  ad_name TEXT,
  campaign_name TEXT,
  impressions BIGINT NOT NULL DEFAULT 0,
  clicks BIGINT NOT NULL DEFAULT 0,
  spend NUMERIC NOT NULL DEFAULT 0,
  db_count BIGINT NOT NULL DEFAULT 0,
  revenue NUMERIC NOT NULL DEFAULT 0,
  thumbnail_url TEXT,
  media_type TEXT,
  title TEXT,
  body TEXT,
  description TEXT,
  cta TEXT,
  updated_at TIMESTAMPTZ NOT NULL DEFAULT now(),
  UNIQUE(advertiser_id, channel, ad_id)
);
CREATE INDEX IF NOT EXISTS idx_creative_metrics_tenant ON creative_metrics(tenant_id);

CREATE TABLE IF NOT EXISTS keyword_metrics (
  id BIGSERIAL PRIMARY KEY,
  tenant_id UUID NOT NULL REFERENCES tenants(id) ON DELETE CASCADE,
  advertiser_id UUID NOT NULL REFERENCES advertisers(id) ON DELETE CASCADE,
  channel TEXT NOT NULL,
  keyword TEXT NOT NULL,
  campaign_name TEXT,
  impressions BIGINT NOT NULL DEFAULT 0,
  clicks BIGINT NOT NULL DEFAULT 0,
  spend NUMERIC NOT NULL DEFAULT 0,
  db_count BIGINT NOT NULL DEFAULT 0,
  updated_at TIMESTAMPTZ NOT NULL DEFAULT now(),
  UNIQUE(advertiser_id, channel, keyword)
);
CREATE INDEX IF NOT EXISTS idx_keyword_metrics_tenant ON keyword_metrics(tenant_id);

-- ????????????????????????????????????????????????????????????
-- 肄섑뀗痢?/ ?댁쁺 ?곗씠?????꾨뱶媛 ?먯＜ 諛붾뚮뒗 ?곸뿭?대씪 ?몃? ?댁슜? JSONB濡??좎뿰?섍쾶 ?〓땲??
-- ????????????????????????????????????????????????????????????
DROP TABLE IF EXISTS blog_projects CASCADE;
CREATE TABLE blog_projects (
  id TEXT PRIMARY KEY, -- ?? makeId('blog')濡?留뚮뱺 projectId瑜?洹몃?濡??곷땲??
  tenant_id UUID NOT NULL REFERENCES tenants(id) ON DELETE CASCADE,
  advertiser_id UUID REFERENCES advertisers(id) ON DELETE SET NULL,
  created_by UUID REFERENCES users(id),
  data JSONB NOT NULL DEFAULT '{}'::jsonb,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_at TIMESTAMPTZ NOT NULL DEFAULT now()
);
CREATE INDEX IF NOT EXISTS idx_blog_projects_tenant ON blog_projects(tenant_id);

CREATE TABLE IF NOT EXISTS blog_styles (
  tenant_id UUID NOT NULL REFERENCES tenants(id) ON DELETE CASCADE,
  advertiser_id UUID NOT NULL REFERENCES advertisers(id) ON DELETE CASCADE,
  data JSONB NOT NULL DEFAULT '{}'::jsonb,
  PRIMARY KEY (tenant_id, advertiser_id)
);

DROP TABLE IF EXISTS blog_assets CASCADE;
CREATE TABLE blog_assets (
  id TEXT PRIMARY KEY, -- ?? makeId('asset')
  tenant_id UUID NOT NULL REFERENCES tenants(id) ON DELETE CASCADE,
  data JSONB NOT NULL DEFAULT '{}'::jsonb,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now()
);

DROP TABLE IF EXISTS schedule_slots CASCADE;
CREATE TABLE schedule_slots (
  id TEXT PRIMARY KEY, -- ?꾨줎?몄뿉??留뚮뱺 ?щ’ ID瑜?洹몃?濡??곷땲??
  tenant_id UUID NOT NULL REFERENCES tenants(id) ON DELETE CASCADE,
  data JSONB NOT NULL DEFAULT '{}'::jsonb,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now()
);

-- ?묒냽/?곕룞/愿由??쒕룞 濡쒓렇 (?뚮꼳?몃퀎濡?寃⑸━?댁꽌 議고쉶?⑸땲??
CREATE TABLE IF NOT EXISTS activity_logs (
  id BIGSERIAL PRIMARY KEY,
  tenant_id UUID REFERENCES tenants(id) ON DELETE CASCADE,
  action TEXT NOT NULL,
  data JSONB NOT NULL DEFAULT '{}'::jsonb,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now()
);
CREATE INDEX IF NOT EXISTS idx_activity_logs_tenant ON activity_logs(tenant_id, created_at DESC);
-- ============================================================
-- ?덊띁?곗뒪 ?섏쭛 (肄섑뀗痢????덊띁?곗뒪 ?섏쭛 硫붾돱)
-- 愿묎퀬/?쇰컲 肄섑뀗痢좊? ?섏쭛쨌??Β룸텇瑜섑븯怨? 愿묎퀬二셋룹뺄?됱뀡怨??곌껐?섎ŉ,
-- 肄섑뀗痢??쒖옉 湲곕뒫?쇰줈 ?꾨떖?섍린 ?꾪븳 ?뚯씠釉붾뱾?낅땲??
-- ============================================================

-- ?섏쭛 洹쒖튃(?먮룞/?섎룞 ?섏쭛 議곌굔????ν빐?먭퀬 ?ъ궗??
CREATE TABLE IF NOT EXISTS reference_collection_rules (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  tenant_id UUID NOT NULL REFERENCES tenants(id) ON DELETE CASCADE,
  advertiser_id UUID REFERENCES advertisers(id) ON DELETE SET NULL,
  name TEXT NOT NULL,
  content_kind TEXT NOT NULL DEFAULT 'BOTH', -- 'ADVERTISEMENT' | 'ORGANIC_CONTENT' | 'BOTH'
  platforms TEXT[] NOT NULL DEFAULT '{}',    -- ['meta','youtube','tiktok','threads']
  keywords TEXT[] NOT NULL DEFAULT '{}',
  exclude_keywords TEXT[] NOT NULL DEFAULT '{}',
  language TEXT,
  country TEXT,
  date_range_days INTEGER DEFAULT 30,
  min_metrics JSONB NOT NULL DEFAULT '{}'::jsonb, -- ?? {"views":100000,"comments":100,"followers":10000}
  mode TEXT NOT NULL DEFAULT 'manual', -- 'manual' | 'auto'
  is_active BOOLEAN NOT NULL DEFAULT true,
  last_collected_at TIMESTAMPTZ,
  last_collected_count INTEGER,
  created_by TEXT,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_at TIMESTAMPTZ NOT NULL DEFAULT now()
);
CREATE INDEX IF NOT EXISTS idx_ref_rules_tenant ON reference_collection_rules(tenant_id);

-- ?덊띁?곗뒪 蹂몄껜
CREATE TABLE IF NOT EXISTS references_store (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  tenant_id UUID NOT NULL REFERENCES tenants(id) ON DELETE CASCADE,
  advertiser_id UUID REFERENCES advertisers(id) ON DELETE SET NULL,

  reference_type TEXT NOT NULL, -- 'ADVERTISEMENT' | 'ORGANIC_CONTENT'
  platform TEXT NOT NULL,       -- 'meta' | 'instagram' | 'facebook' | 'youtube' | 'tiktok' | 'threads' | 'manual'
  source_type TEXT NOT NULL DEFAULT 'collected', -- 'collected' | 'manual_url'

  external_id TEXT,             -- ?뚮옯???먮낯 ID (以묐났 諛⑹? 湲곗? 1)
  url TEXT,
  canonical_url TEXT,           -- ?뺢퇋?붾맂 URL (以묐났 諛⑹? 湲곗? 2)

  title TEXT,
  body TEXT,
  headline TEXT,
  description TEXT,
  cta TEXT,

  author_id TEXT,
  author_name TEXT,
  author_followers BIGINT,      -- null = 誘몄젣怨? 0 = ?ㅼ젣 0

  thumbnail_url TEXT,
  media_url TEXT,
  media_type TEXT, -- 'image' | 'video' | 'carousel' | 'text'
  content_type TEXT, -- '?곸긽' | '?륂뤌' | '?대?吏' | '移대뱶?댁뒪' | '?띿뒪?? | '愿묎퀬' | '湲고?'

  ad_status TEXT, -- 愿묎퀬 ?꾩슜: 'active' | 'inactive' ??  ad_started_at TIMESTAMPTZ,

  published_at TIMESTAMPTZ,
  collected_at TIMESTAMPTZ NOT NULL DEFAULT now(),

  -- ?깃낵 吏?? null=?뚮옯?쇱씠 ?쒓났 ???? 0=?ㅼ젣 媛?0 (諛섎뱶??援щ텇)
  views BIGINT,
  likes BIGINT,
  comments BIGINT,
  shares BIGINT,
  saves BIGINT,

  available_metrics TEXT[] NOT NULL DEFAULT '{}', -- ???덊띁?곗뒪?먯꽌 ?ㅼ젣濡??쒓났??吏??紐⑸줉

  status TEXT NOT NULL DEFAULT 'unread', -- 'unread' | 'reviewing' | 'saved' | 'used_in_production' | 'archived'
  is_favorite BOOLEAN NOT NULL DEFAULT false,
  note TEXT,

  raw_text TEXT,
  transcript TEXT,
  raw_metadata JSONB,

  created_by TEXT,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_at TIMESTAMPTZ NOT NULL DEFAULT now()
);
CREATE INDEX IF NOT EXISTS idx_references_tenant ON references_store(tenant_id, collected_at DESC);
CREATE INDEX IF NOT EXISTS idx_references_advertiser ON references_store(advertiser_id);
CREATE INDEX IF NOT EXISTS idx_references_platform ON references_store(tenant_id, platform);
CREATE INDEX IF NOT EXISTS idx_references_type ON references_store(tenant_id, reference_type);
-- 以묐났 諛⑹?: 媛숈? ?뚮꼳???덉뿉???뚮옯???먮낯ID, ?먮뒗 canonical_url??寃뱀튂硫????⑸땲??
CREATE UNIQUE INDEX IF NOT EXISTS uq_references_platform_external ON references_store(tenant_id, platform, external_id) WHERE external_id IS NOT NULL;
CREATE UNIQUE INDEX IF NOT EXISTS uq_references_canonical_url ON references_store(tenant_id, canonical_url) WHERE canonical_url IS NOT NULL;

-- ?쒓렇
CREATE TABLE IF NOT EXISTS reference_tags (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  tenant_id UUID NOT NULL REFERENCES tenants(id) ON DELETE CASCADE,
  name TEXT NOT NULL,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now(),
  UNIQUE(tenant_id, name)
);
CREATE TABLE IF NOT EXISTS reference_tag_links (
  reference_id UUID NOT NULL REFERENCES references_store(id) ON DELETE CASCADE,
  tag_id UUID NOT NULL REFERENCES reference_tags(id) ON DELETE CASCADE,
  PRIMARY KEY (reference_id, tag_id)
);

-- 而щ젆??(?대뜑 ???而щ젆??- ?섎굹???덊띁?곗뒪媛 ?щ윭 而щ젆?섏뿉 ?랁븷 ???덉쓬)
CREATE TABLE IF NOT EXISTS reference_collections (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  tenant_id UUID NOT NULL REFERENCES tenants(id) ON DELETE CASCADE,
  advertiser_id UUID REFERENCES advertisers(id) ON DELETE SET NULL,
  name TEXT NOT NULL,
  description TEXT,
  created_by TEXT,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_at TIMESTAMPTZ NOT NULL DEFAULT now()
);
CREATE INDEX IF NOT EXISTS idx_ref_collections_tenant ON reference_collections(tenant_id);
CREATE TABLE IF NOT EXISTS reference_collection_items (
  collection_id UUID NOT NULL REFERENCES reference_collections(id) ON DELETE CASCADE,
  reference_id UUID NOT NULL REFERENCES references_store(id) ON DELETE CASCADE,
  added_at TIMESTAMPTZ NOT NULL DEFAULT now(),
  PRIMARY KEY (collection_id, reference_id)
);

-- 硫붾え(?덊띁?곗뒪蹂??щ윭 媛??④만 ???덈뒗 ?먯쑀 硫붾え - note ?꾨뱶? 蹂꾧컻濡??대젰 ?④린怨??띠쓣 ???ъ슜)
CREATE TABLE IF NOT EXISTS reference_notes (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  reference_id UUID NOT NULL REFERENCES references_store(id) ON DELETE CASCADE,
  body TEXT NOT NULL,
  created_by TEXT,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now()
);

-- "???덊띁?곗뒪濡??쒖옉" ?ъ슜 ?대젰 (?대뼡 ?덊띁?곗뒪媛 ?ㅼ젣濡??쒖옉???쇰쭏???곗??붿? 異붿쟻)
CREATE TABLE IF NOT EXISTS reference_usage (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  reference_id UUID NOT NULL REFERENCES references_store(id) ON DELETE CASCADE,
  used_for TEXT NOT NULL, -- 'ad_copy' | 'blog' | 'video_script' | 'image_ad' | 'document'
  reference_scope TEXT,   -- '援ъ“留?李멸퀬' | '?꾪궧 李멸퀬' | '?ㅼ븻留ㅻ꼫 李멸퀬' | '二쇱젣 李멸퀬' | '?꾩껜?곸씤 諛⑺뼢 李멸퀬'
  created_by TEXT,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now()
);
CREATE INDEX IF NOT EXISTS idx_ref_usage_reference ON reference_usage(reference_id);
